body{
    font-family: sans-serif;
    box-sizing: border-box;
}

.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* <!-- Ліва сторона --> */
.leftSide{
   margin: 50px 10px 10px 20px;
    width: 500px;
}
.forms{
}

.inputContainer{
    margin: 25px 0px;
}

.Label{
margin-bottom: 10px ;
}

.input{
margin-top: 5px;
padding: 10px 5px 5px 5px;
width: 400px;
border-radius: 5px;
border: 2px grey solid;
}

input:hover{
border: 2px green solid;
}
input:active{
border: 2px rgb(4, 125, 136) solid;
}

/* addUser */
.addUser, .editUser{
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border-color: rgb(21, 105, 21);
    color: black;
    
}
.editUser:hover,
.addUser:hover{
    border-color: green;
    color: green;
}
.editUser:active,
.addUser:active{
    background-color: green;
    border-color: green;
    color: white;
    scale: 1.1;
}





/* приховання кнопки */
.hidden {
    display: none;
}
  /* <!-- Права сторона --> */
 .rightSide{
    margin: 100px 10px 10px 20px;
    width: 500px;
 }

/* table */
table {
    border-collapse: collapse;
}
.tHead{
    border-bottom: 3px rgb(121, 120, 120) solid;
    border-top: 2px rgb(121, 120, 120) solid;
    margin: 15px 5px;
}

th {

padding: 15px 5px;
}
td {
    padding: 15px 5px;
    color: rgb(81, 81, 81);
}
.trBody{
    border-bottom: 2px rgb(121, 120, 120) solid;
}

.thNumber {
    width: 10px;
}

.thLogin {
    width: 150px;
    
}

.thPassword {
    width: 250px;
}

.thEmail {
    width: 250px;
}

.thEdit {
    width: 100px;
}
.thDelete{
    width: 120px;
}



/* buttom */
.btnEdit{
color: black;
background-color: rgb(251, 190, 103);
border-radius: 3px;
border-style: inherit;
padding: 10px 15px;
}

.btnEdit:hover{
    background-color: rgb(246, 164, 48);
}
.btnEdit:active{
scale: 1.1;
}


.btnDelete{
color: white;
background-color: rgb(245, 47, 86);
border-radius: 3px;
border-style: inherit;
padding: 10px 15px;
}

.btnDelete:hover {
    background-color: rgb(194, 22, 57);
}

.btnDelete:active {
    scale: 1.1;
}


