@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sono:wght@400;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  cursor: default;
  user-select: none;
}

.body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header_box {
  background-image: url(./imgs/Background.png);
  opacity: 0.95;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: white;
}

.nav_list {
  display: flex;
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

/* width: 90px;
height: 36px;
border: #ffff solid 2px; */
.Log_in {
  width: 90px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

.Log_in:hover {
  border: 3px solid white;
  border-radius: 18px;
  box-sizing: border-box;
  cursor: pointer;
}

.Sing_up {
  width: 90px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

.Sing_up:hover {
  border: 3px solid white;
  border-radius: 18px;
  box-sizing: border-box;
  cursor: pointer;
}

.Sing_up:active {
  border: 3px solid white;
  border-radius: 18px;
  cursor: pointer;
  background-color: #FF4E50;
}

.Log_in:active {
  border: 3px solid white;
  border-radius: 18px;
  cursor: pointer;
  background-color: #FF4E50;
}

.Logo {
  text-transform: uppercase;
  width: 152px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-top: 6px;
}

.hero {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 147.5px;
  margin-left: auto;
  margin-right: auto;
}

.hero_title {
  width: 470px;
  height: 126px;
  text-transform: uppercase;
  font-family: "Montsserat", sans-serif;
  font-style: Normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.2;
  color: white;
}

.hearo_discrip {
  font-family: "$Robo", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #F7F3F2;
  margin-top: 28.5px;
}

.hero_button {
  font-family: "$Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  color: white;
  background-color: #FF4E50;
  border-radius: 20px;
  width: 225px;
  height: 40px;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
}

.glow-on-hover {
  background: #FF4E50;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}

.glow-on-hover:active {
  color: #FF4E50;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FF4E50;
  left: 0;
  top: 0;
  border-radius: 20px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.HowDreamWorks {
  margin-top: 95px;
}

.title_HowDreamWorks {
  font-family: "Montsserat", sans-serif;
  font-style: Normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  text-align: center;
  height: 32px;
}

.list_drems {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list_drem {
  border-radius: 5px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 10px;
}

.drem_item1 {
  background-image: url(./imgs/Step1image.png);
}

.drem_item2 {
  background-image: url(./imgs/Step2image.png);
}

.drem_item3 {
  background-image: url(./imgs/Step3image.png);
}

.button_step {
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: white;
  background-color: #FF4E50;
  border-radius: 10px;
  width: 42px;
  height: 12px;
  padding: 5px 14px 3px 14px;
  text-align: center;
  margin-left: 25px;
}

.name_dream {
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: white;
  width: 250px;
  margin-left: 25px;
  margin-top: 15px;
}

.name_dream1 {
  margin-top: 15px;
}

.name_dream2 {
  margin: 14px 25px 0 25px;
}

.description_drem {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
  width: 250px;
  padding-top: 15px;
  margin: 10px 25px 21px 25px;
  text-align: down;
}

.meet_partner {
  max-width: 941px;
  background-color: #ffffff;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.title_meet_partner {
  font-family: "Montsserat", sans-serif;
  font-style: Normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  text-align: center;
}

.meet_partner_list {
  display: grid;
  grid-template-columns: repeat(4, 221px);
  grid-gap: 20px;
  margin-top: 35px;
}

.partner_item {
  min-width: 221px;
  height: 225px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.photo_partner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.partner_item::after {
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 83px;
  left: 134px;
  border: white 5px solid;
}

.partner1 {
  position: relative;
}

.partner1::after {
  content: "";
  background-image: url(./imgs/music.svg);
  background-color: #ff4e50;
}

.partner2 {
  position: relative;
}

.partner2::after {
  content: "";
  background-image: url(/styles/imgs/brush.svg);
  background-color: #19D4CA;
}

.partner3 {
  position: relative;
  margin: 0px;
}

.partner3::after {
  content: "";
  background-image: url(/styles/imgs/camera.svg);
  background-color: #FFA710;
}

.partner4 {
  position: relative;
}

.partner4::after {
  content: "";
  background-image: url(/styles/imgs/airplane.svg);
  background-color: #667DF3;
}

.name_partner {
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 0px;
}

.partner_discription {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  padding-top: 12px;
  text-align: center;
}

.buttom_purtner {
  width: 137px;
  height: 17px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  background-color: #ffffff;
  text-align: center;
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FF4E50;
  padding: 12px 19px 12px 24px;
}

.buttom_purtner:hover {
  background-color: #FF4E50;
  color: #ffffff;
}

.Discover_holiday {
  width: 940px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_discover_holiday {
  font-family: "Montsserat", sans-serif;
  font-style: Normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  text-align: center;
}

.photo_holiday {
  margin-top: 35px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.act_idea1 {
  background-image: url(./imgs/Sport.png);
  width: 300px;
  height: 310px;
}

.act_idea2 {
  background-image: url(./imgs/Healath.png);
  width: 300px;
  height: 310px;
}

.act_idea3 {
  background-image: url(./imgs/Extreme.png);
  width: 300px;
  height: 310px;
}

.act_idea4 {
  background-image: url(./imgs/Games.png);
  width: 300px;
  height: 310px;
}

.act_idea5 {
  background-image: url(./imgs/Culture.png);
  width: 620px;
  height: 310px;
}

.act_idea6 {
  background-image: url(./imgs/Enjojment.png);
  width: 620px;
  height: 310px;
}

.act_idea7 {
  background-image: url(./imgs/Treveling.png);
  width: 300px;
  height: 310px;
}

.name_of_activity {
  font-family: "Montsserat", sans-serif;
  font-style: Normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  text-align: center;
  line-height: 310px;
}

.Create_holiday {
  width: 482px;
  margin-left: auto;
  margin-right: auto;
}

.title_create_holiday {
  font-family: "Montsserat", sans-serif;
  font-style: Normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  text-align: center;
  margin-top: 85px;
}

.create_holiday_discription {
  text-align: center;
  margin-top: 43px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: Normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  color: #666666;
}

.inputbutton {
  display: flex;
  width: 482px;
  height: 40px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.input_interests {
  width: 299px;
  height: 40px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  margin-right: 10px;
}

.input_interests:hover {
  border: #FF4E50 2px solid;
}

.buttom_interest {
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  color: white;
  border: none;
  background-color: #FF4E50;
  border-radius: 20px;
  width: 172px;
  height: 100%;
}

.footer {
  max-width: 1440px;
  height: 224px;
  border-top: #FF4E50 solid 4px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.footer_box {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.Logo_DreamShare {
  text-transform: uppercase;
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ff4e50;
  width: 241px;
}

.Company_info {
  width: 239px;
}

.title_company_info,
.title_partners {
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.company_info_list {
  margin-top: 11px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  color: #999999;
  height: 156px;
}

.info_item:hover {
  color: #444444;
  font-weight: 500;
  letter-spacing: 2px;
}

.Partners {
  text-height: 14px;
  text-align: 17px;
  width: 351px;
}

.Logo_company {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Designed {
  text-transform: uppercase;
  font-family: "Montsserat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #cccccc;
  letter-spacing: 1px;
}

.img_Logo_company {
  width: 110px;
  height: 24px;
  margin-top: 7px;
}

@media (max-width: 768px) {
  header {
    background-color: rgb(19, 8, 232);
  }
  .body {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .title_HowDreamWorks {
    font-size: 22px;
    line-height: 26.82px;
    color: #444444;
    text-align: center;
    height: 32px;
  }
  .HowDreamWorks {
    margin-top: 95px;
  }
  .list_drem {
    max-width: 236px;
  }
  .button_step {
    margin-left: 20px;
  }
  .name_dream {
    line-height: 14px;
    margin-left: 20px;
  }
  .name_dream1 {
    padding-top: 30px;
  }
  .name_dream2 {
    width: 150px;
    word-wrap: wrap;
  }
  .name_dream3 {
    padding-top: 30px;
  }
  .description_drem {
    width: 196px;
    word-wrap: wrap;
    margin-bottom: 16px;
  }
  .meet_partner_list {
    grid-template-columns: repeat(2, 221px);
    margin-left: auto;
    margin-right: auto;
  }
  .partner_item {
    min-width: 236px;
    height: 205px;
  }
  .Discover_holiday {
    width: 768px;
    margin-top: 35px;
  }
  .act_idea1 {
    background-image: url(/styles/imgs/Sport768.png);
    width: 236px;
  }
  .act_idea2 {
    background-image: url(/styles/imgs/Healath768.png);
    width: 236px;
  }
  .act_idea3 {
    background-image: url(/styles/imgs/Extreme768.png);
    width: 236px;
  }
  .act_idea4 {
    background-image: url(/styles/imgs/Games768.png);
    width: 236px;
  }
  .act_idea5 {
    background-image: url(/styles/imgs/Culture768.png);
    width: 492px;
  }
  .act_idea6 {
    background-image: url(/styles/imgs/CultureCopy768.png);
    width: 492px;
  }
  .act_idea7 {
    background-image: url(/styles/imgs/GamesCopy768.png);
    width: 236px;
  }
  .footer {
    max-width: 768px;
    height: 224px;
  }
  .Logo_DreamShare {
    width: 227px;
  }
  .Company_info {
    width: 170px;
  }
  .Partners {
    width: 182px;
  }
  .Logo_company {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 318px) {
  header {
    background-color: rgb(255, 2, 145);
  }
  .body {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .header_box {
    background-image: url(/styles/imgs/Background318.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 318px;
    height: 540px;
  }
  .nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400px;
    line-height: 17px;
  }
  .nav_list {
    width: 153px;
    margin-left: auto;
    margin-right: auto;
  }
  .Sing_up {
    line-height: 36px;
  }
  .Logo {
    width: 152px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 97px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    margin-top: 26.5px;
  }
  .hero_title {
    width: 272px;
    height: 74px;
    font-size: 30px;
    line-height: 37px;
    margin-left: auto;
    margin-right: auto;
  }
  .hearo_discrip {
    width: 280px;
    height: 49px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-top: 5.5px;
  }
  .hero_button {
    line-height: 40px;
    width: 280px;
    height: 40px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .HowDreamWorks {
    margin-top: 35px;
  }
  .list_drems {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .list_drem {
    max-width: 300px;
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .name_dream {
    line-height: 14px;
    margin-left: 20px;
  }
  .name_dream1 {
    padding-top: 30px;
  }
  .name_dream2 {
    width: 168px;
  }
  .description_drem {
    width: 250px;
  }
  .meet_partner {
    margin-top: 36px;
  }
  .meet_partner_list {
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(1, 221px);
    grid-gap: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .partner3 {
    min-width: 236px;
    height: 224px;
  }
  .Discover_holiday {
    width: 318px;
    margin-top: 35px;
  }
  .photo_holiday {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .photo_hol {
    width: 300px;
    height: 120px;
  }
  .act_idea1 {
    background-image: url(/styles/imgs/Sport318.png);
  }
  .act_idea2 {
    background-image: url(/styles/imgs/Healath318.png);
  }
  .act_idea3 {
    background-image: url(./imgs/Extreme318.png);
  }
  .act_idea4 {
    background-image: url(./imgs/Games318.png);
  }
  .act_idea5 {
    background-image: url(./imgs/Culture318.png);
  }
  .act_idea6 {
    background-image: url(/styles/imgs/Culture318Copy.png);
  }
  .act_idea7 {
    background-image: url(/styles/imgs/GamesCopy318.png);
  }
  .Create_holiday {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .create_holiday_discription {
    margin-top: 9px;
  }
  .title_create_holiday {
    margin-top: 35px;
  }
  .inputbutton {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 90px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .input_interests {
    width: 280px;
    height: 40px;
  }
  .buttom_interest {
    margin-top: 10px;
    width: 280px;
    height: 40px;
  }
  .footer {
    width: 320px;
    border-top: #ff4e50 solid 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .footer_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
  .Logo_DreamShare {
    margin-top: 19px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
    width: 119px;
    height: 20px;
  }
  .title_company_info {
    width: 320px;
    text-align: center;
  }
  .company_info_list {
    display: flex;
    justify-content: center;
    line-height: 26px;
    text-align: center;
    width: 320px;
    height: 52px;
    flex-wrap: wrap;
    margin-top: 1px;
  }
  .info_item {
    padding-left: 6px;
    padding-right: 6px;
  }
  .Partners {
    width: 320px;
    height: 17px;
    text-align: center;
  }
  .title_partners {
    margin-top: 6px;
  }
  .Designed {
    margin-top: 14px;
  }
  .Logo_company {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style1C.css.map */
