@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sono:wght@400;500&display=swap");
@import "./scss_files_add/resetCSS";
@import "./scss_files_add/scssColor";
@import "./scss_files_add/scssMedia";

@mixin TextPR(
  $font-family,
  $font-style,
  $font-weight,
  $font-size,
  $line-height,
  $font-color
) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;
}

// .body {
//   width: 1440px;
//   height: 3451px;
//   border: 2px solid;
// }

.header_box {
  background-image: url(./imgs/Background.png);
  // прозорість беграунда
  opacity: 0.85;
  // opacity

  width: 1440px;
  height: 700px;
  display: flex;
  flex-direction: column;
  // position: relative;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  @include TextPR($Mono, normal, 700, 20px, 1.2, $text-white-color);
}

.nav_list {
  display: flex;
  @include TextPR($Mono, normal, 400, 14px, -height, -$text-white-color);
}

// .nav_list_item {
/* width: 90px;
height: 36px;
border: #ffff solid 2px; */

.Log_in {
  width: 90px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

.Log_in:hover {
  border: 3px solid $text-white-color;
  border-radius: 18px;
  box-sizing: border-box;
  cursor: pointer;
}

.Sing_up {
  width: 90px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

.Sing_up:hover {
  border: 3px solid $text-white-color;
  border-radius: 18px;
  box-sizing: border-box;
  cursor: pointer;
}

.Sing_up:active {
  border: 3px solid $text-white-color;
  border-radius: 18px;
  cursor: pointer;
  background-color: $buttom-color;
}

.Log_in:active {
  border: 3px solid $text-white-color;
  border-radius: 18px;
  cursor: pointer;
  background-color: $buttom-color;
}

.Logo {
  text-transform: uppercase;
  width: 152px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-top: 6px;
}

.hero {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // position: absolute;
  // top: 223.5px;
  // left: 485px;
  margin-top: 147.5px;
  margin-left: auto;
  margin-right: auto;
}

.hero_title {
  width: 470px;
  height: 126px;
  text-transform: uppercase;
  @include TextPR($Mono, Normal, 700, 52px, 1.2, $text-white-color);
}

.hearo_discrip {
  @include TextPR($Robo, normal, 300, 24px, 24px, $text-white-gray-color);
  margin-top: 28.5px;
}

.hero_button {
  @include TextPR($Mono, normal, 700, 14px, 40px, $text-white-color);
  background-color: $buttom-color;
  border-radius: 20px;
  width: 225px;
  height: 40px;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
}

// ЕФЕКТ НА КНОПКУ
.glow-on-hover {
  background: $buttom-color;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}

.glow-on-hover:active {
  color: $buttom-color;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $buttom-color;
  left: 0;
  top: 0;
  border-radius: 20px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

// КІНЕЦЬ ЕФЕКТУ НА КНОПКУ

// Контент Блок1

.main_content {
}

.HowDreamWorks {
  margin-top: 95px;
}

.title_HowDreamWorks {
  @include TextPR($Mono, Normal, 700, 26px, 32px, #444444);
  text-align: center;
  height: 32px;
}

.list_drems {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list_drem {
  border-radius: 5px;
  background-color: black;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.drem_item1 {
  background-image: "./imgs/Step1.png";
  margin: 0 10px;
}

.drem_item2 {
  background-image: "./imgs/Step2.png";
}

.drem_item3 {
  background-image: "./imgs/Step3.png";
  margin: 0 10px;
}

.button_step {
  @include TextPR($Mono, normal, 400, 10px, 12px, $text-white-color);
  background-color: $buttom-color;
  border-radius: 10px;
  width: 42px;
  height: 12px;
  padding: 5px 14px 3px 14px;
  text-align: center;
  margin-left: 25px;
}

.name_dream {
  @include TextPR($Mono, normal, 700, 24px, 26px, $text-white-color);
  width: 250px;
  margin-left: 25px;
}

.name_dream1 {
  margin-top: 15px;
}

.name_dream2 {
  margin: 14px 25px 0 25px;
}

.name_dream {
  margin-top: 15px;
}

.description_drem {
  @include TextPR($Robo, normal, 400, 14px, 14px, $text-white-gray-color);
  width: 250px;
  padding-top: 15px;
  // height: 57px;
  margin: 10px 25px 21px 25px;
  text-align: down;
}

// Контент Блок2

.meet_partner {
  width: 941px;
  height: 361px;
  background-color: #ffffff;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.title_meet_partner {
  @include TextPR($Mono, Normal, 700, 26px, 32px, #444444);
  text-align: center;
}

.meet_partner_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}

.partner_item {
  width: 221px;
  height: 225px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.partner1 {
  position: relative;
}

.partner1::after {
  content: "";
  background-image: "./imgs/music2.jpg";
  background-color: #ff4e50;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 80px;
  left: 130px;
  border: white 5px solid;
}

.photo_partner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.name_partner {
  @include TextPR($Mono, normal, 700, 14px, 17px, #444444);
  text-align: center;
  margin-top: 17px;
  margin-bottom: 12px;
}

.partner_discription {
  @include TextPR($Robo, normal, 300, 14px, 14px, #666666);
  padding-top: 29px;
  text-align: center;
}

.partner2 {
}

.partner3 {
}

.partner4 {
}

.buttom_purtner {
  width: 137px;
  height: 17px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  background-color: #ffffff;
  text-align: center;
  @include TextPR($Mono, normal, 700, 14px, 17px, $buttom-color);
  padding: 12px 19px 12px 24px;
}

.buttom_purtner:hover {
  background-color: $buttom-color;
  color: #ffffff;
}

// Контент Блок3 Discover_holiday

.Discover_holiday {
  width: 940px;
  height: 1041px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_discover_holiday {
  @include TextPR($Mono, Normal, 700, 26px, 32px, #444444);
  text-align: center;
}

.photo_holiday {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo_hol_act_idea {
  position: relative;
}

.name_of_activity {
  position: absolute;
  margin: auto;
}

// Блок 4 Create_holiday

.title_create_holiday {
  @include TextPR($Mono, Normal, 700, 26px, 32px, #444444);
  text-align: center;
  margin-top: 89px;
}

.create_holiday_discription {
  text-align: center;
  margin-top: 43px;
  padding-top: 10px;
  @include TextPR($Robo, Normal, 300, 18px, 14px, #666666);
}

.inputbutton {
  display: flex;
  width: 482px;
  height: 40px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.input_interests {
  width: 299px;
  height: 40px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  @include TextPR($Robo, normal, 300, 14px, 16px, #999999);
  margin-right: 10px;
}

.input_interests:hover {
  border: $buttom-color 2px solid;
}

.buttom_interest {
  @include TextPR($Mono, normal, 700, 14px, 40px, $text-white-color);
  border: none;
  background-color: $buttom-color;
  border-radius: 20px;
  width: 172px;
  height: 100%;
}

.glow-on-hover {
}

// Footer



.footer {
    width: 1440px;
  height: 224px;
      border-top: $buttom-color solid 4px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
        margin-top: 40px;
        
    }

.footer_box {
  margin-top: 10px;
  display: flex;
justify-content: center;
}

.Logo_DreamShare {
  text-transform: uppercase;
  @include TextPR($Mono, normal, 400, 16px, 20px, #FF4E50);
  width: 241px;

}

.Company_info {
  // margin-left: 50px;
  width: 239px;
}

.title_company_info, .title_partners {
  @include TextPR($Mono, normal, 700, 14px, 16px, #444444);
}

.company_info_list {
margin-top: 11px;
@include TextPR($Robo, normal, 300, 14px, 36px, #999999);
height: 156px;
}

.info_item:hover {
color: #444444;
font-weight: 500;
letter-spacing: 2px;
}

.Partners {
  width: 351px;
}

.title_partners {
}

.Logo_company {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Designed {
  text-transform: uppercase;
  @include TextPR($Mono, normal, 700, 10px, 12px, #CCCCCC);
  // display: flex;
  letter-spacing: 1px;
}
.img_Logo_company{
width: 110px;
height: 24px;
margin-top: 7px; 
}
