$text-white-color: #ffff;
$buttom-color: #FF4E50;
$text-white-gray-color: #E3E3E3;
$text-gray-color: #666666;
$text-dark-gray-color: #444444;
$Mono: 'Montsserat', sans-serif;
$Robo: 'Roboto' , sans-serif;