// максимальний екран
@media (max-width: 1440px) {
  header {
    background-color: rgb(42, 18, 31);
  }
}


// Середній екран
@media (max-width: 768px) {
  header {
    background-color: rgb(138, 28, 88);
  }
}

// мінімальний екран
@media (max-width: 318px) {
  header {
    background-color: rgb(243, 20, 146);
  }

  // .Logo {display: none;}
}