/* .forms{
        display: grid;
        place-items: center;
    } */

    body{
        background: whitesmoke;
        font-family: sans-serif;
        box-sizing: border-box;
    }
.forms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
}

.signUpInfo{
    text-align: center;
    margin: 0px;
    font-weight: normal;

}

.input{
 margin: 10px; 
    width: 100%;
    height: 25px;
    padding: 2.5px;
    border-radius: 4px;
    border: 1px solid gainsboro;
}

.greenBorder{
border-color: green;
}

.checkboxContainer{
    display: flex;
    flex-direction: row;
align-items: center;
}
.checkbox{
    margin: 10px 10px 10px 10px;
}

.agree{
    font-size: 12px;

}

.SignUp {
    height: 30px;
    background-color: rgb(37, 117, 230);
    color: beige;
    font-weight: 600;
    border: none;
}



/* input+inputLabel */

.inputContainer {
    position: relative;
}

.inputContainer {
    width: 300px;
}

.inputLabel, .inputLabelSN, .inputLabelEM,
.inputLabelPS {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition-duration: 0.5s;
    pointer-events: none;
    font-size: 14px;
    color: gray;
    background-color: white;
}


/* .inputLabelFocus добавляємо клас на онклік*/
.inputLabelFocus, .inputLabelFocusSN, .inputLabelFocusEM, .inputLabelFocusPS  {
    font-size: 8px;
    background-color: rgb(104, 99, 99);
    top: 5px;
    padding: 2px;
    border-radius: 2px;
    left: 20px;
    transform: none;
    color: rgb(238, 88, 88);
}


/* .validationInfo */
/* alert */

.alert{
position: relative;
}
/* .validfirstName{
    position: relative;
} */
.validationInfo, .validationInfoSN,
.validationInfoEM,
.validationInfoPS{
    position: absolute;
    width: 130px;
font-size: 8px;
    top: 70px;
    padding: 4px;
    border-radius: 2px;
    left: 10px;
    transform: none;
    color: white;
    background-color: rgb(249, 74, 74);
}


/* invisible */
.invisible{
opacity: 0;
pointer-events: none;
}

/* Зелена галочка та червоний хрестик*/

.inputContainerValidYes {
    position: relative;
}
.inputContainerValidNo {
    position: relative;
}

/* зелена галочка  green check mark*/
.inputContainerValidYes::after {
    content: "\2714";
    color: green;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    
}



/* червоний хрестик red cross */
.inputContainerValidNo::after {
    content: "\2715";
    color: rgb(255, 0, 0);
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
}

.inputBorderGreen{
    border-color: green;
}

.Yes{
    color: green;
    background-color: aliceblue;
}


/* checkmark-container */

.success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    border-radius: 5px;
    background-color: rgb(222, 226, 225);
    z-index: 2;
}

.checked{
    background-color: mediumseagreen;
    display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
    border-radius: 5px 5px 0px 0px;

}
.checkedIcon{
width: 20%;
filter: invert(100%);
}


.start{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 10px 0px 10px 0px;
    color: rgb(109, 105, 105);
}
p{
    margin: 5px;
    color: rgb(109, 105, 105);
}

.btnStart{
    top: 225px;
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: rgb(240, 126, 20);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}

.btnStart::after {
    content: "➔";
    position: absolute;
    top: 10%;
    left: 85%;
    color: white;
    font-size: 16px;
    font-weight: bold;
}



